header {
    color: blue;
    height: 30px;
}

nav {
    width: 270px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: gainsboro;
}

/* メニューの区切り */
.menu_hr {
    border-top: solid 1px ghostwhite;
    opacity: 0.3;
}

/* NumberInputの幅 NumberInputはwidgetのattrs sizeが効かなかったのでここで定義 */
.ShortNumberInput {
    width: 60px;
    text-align: right;
}

/* 一覧のテーブル用 */
.srv_list th {
    padding: 5px;
    background-color:whitesmoke
}

.srv_list td {
    padding-left: 5px;
    padding-right: 5px;
}
