main {
    padding: 2rem 0;
}

header {
    color: blue;
    height: 30px;
}

nav {
    width: 270px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: gainsboro;
}

/* メニューの区切り */
.menu_hr {
    border-top: solid 1px ghostwhite;
    opacity: 0.3;
}