/* 検索条件のセレクトボックスの幅 */
#id_busyo {
    width: 120px;
}

#id_location {
    width: 80px;
}

#id_post {
    width: 80px;
}

/* 入力フォームのレイアウトテーブル */
#entry-form th {
    text-align: right;
    padding-right: 3px;
    height: 40px;
}
