{% extends "base.html" %}

{% block main %}
    <div>
        <nav aria-label="breadcrumb" style="width:100%;">
            <ol class="breadcrumb pt-3 fs-5">
                <li class="breadcrumb-item"><a href="{% url 'sheets-list' %}">シートマスタメンテナンス</a></li>
                <li class="breadcrumb-item active" aria-current="page">編集・削除</li>
            </ol>
        </nav>
        <form method="POST">
            {% csrf_token %}
            <div class="d-flex justify-content-end">
                <div>
                    <input class="btn btn-info text-light"
                        type="submit" name="btn_update" value="更新" onclick="return confirm('更新しますか？')">
                    <a class="ms-3 me-3 btn btn-warning text-light" href="{% url 'sheets-list' %}?ini_flg=False">戻る</a>
                </div>
            </div>
            {% include './sheet_detail1.html' %}
            <div class="text-danger">
                {% if form.non_field_errors %}
                    {% for serror in form.non_field_errors %}
                        {{ serror }}<br />
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <div>
                    <input type="submit" value="追加" name="btn_add">
                    <input type="submit" value="削除" name="btn_del" onclick="return confirm('チェック行を削除しますか？')">
                </div>
            </div>
            {% include './sheet_detail2.html' %}
        </form>
    </div>
{% endblock %}