{% load static %}
{% load django_bootstrap5 %}

<html>
<head>
    <meta charset="utf-8">
    <title>ASC 社内汎用アンケートシステム</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="bg-primary bg-opacity-25 ps-4">
        <p class="fs-2">ASC 社内汎用アンケートシステム</p>
    </div>
    <div style="border: red solid 1px;">
        <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
            <p>パスワードを変更しました。</p>
        </div>
                    <a class="ms-2 mt-3 btn btn-warning text-light" href="/ascsurvey/">トップへ</a>
    </div>
</body>
</html>