{% extends "base.html" %}

{% block main %}
    <div>
        <nav aria-label="breadcrumb" role="navigation" class="w-100">
            <ol class="breadcrumb pt-3">
                <li class="fs-5 breadcrumb-item active fw-bold w-100" aria-current="page">{{ qsheet.title }}　{{ subtitle }}</li>
            </ol>
        </nav>

        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <th class="pe-1">{{ query_form.nendo.label }}</th>
                    <td class="pe-3">{{ query_form.nendo }}</td>
                    <th class="pe-1">{{ query_form.busyo.label }}</th>
                    <td class="pe-3">{{ query_form.busyo }}</td>
                    <th class="pe-1">{{ query_form.location.label }}</th>
                    <td class="pe-3">{{ query_form.location }}</td>
                    <th class="pe-1">{{ query_form.post.label }}</th>
                    <td class="pe-3">{{ query_form.post }}</td>
                    <td class="pe-3 d-none">{{ query_form.shname }}</td>
                    <td class="ps-3">
                        <input class="btn btn-primary" type="submit" value="検索">
                    </td>
                </tr>
            </table>
        </form>

        <section class="post-list">
            {% if not ini_flg %}
                <div class="mb-1">
                    <a class="btn btn-success opacity-75" href="{% url 'cuser-download' %}">Excel出力</a>
                </div>
                {% if object_list|length == 0 %}
                    <p>検索結果が存在しません。</p>
                {% else %}
                <div class="table-responsive" id="result-div">
                    <table class="table table-bordered">
                        <thead class="sticky-top table-light">
                            <tr>
                                <th>年度</th>
                                <th>部署名</th>
                                <th>勤務地</th>
                                <th>役職</th>
                                <th>氏 名</th>
                                <th>内容</th>
                                <!--一問他答形式はDeleteInsertだから更新日だけ表示-->
                                <th>更新日</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for scdat in object_list %}
                            <tr>
                                <td>{{ scdat.nendo }}</td>
                                <td>{{ scdat.user_id.busyo_id.bu_name }}</td>
                                <td>{{ scdat.user_id.location_id.location_name }}</td>
                                <td>{{ scdat.user_id.post_id.post_name }}</td>
                                <td>{{ scdat.user_id.last_name|add:" "|add:scdat.user_id.first_name }}</td>
                                <td><pre>{{ scdat.inp_data }}</pre></td>
                                <td>{{ scdat.updated_at|default_if_none:""|date:"Y/m/d H:i" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endif %}
    </section>
</div>

<script>
    let p = document.querySelector('#id_nendo');

    p.onchange = function() {
        let pnendo = p.selectedOptions[0].value;
        // リストの更新関数はユーザマスタメンテナンスのものを使う
        // 部署リスト更新
        renewSelectList(pnendo, '/customusers/get-busyolist', '#id_busyo');
        // 勤務地リスト更新
        renewSelectList(pnendo, '/customusers/get-locationlist', '#id_location');
        // 役職リスト更新
        renewSelectList(pnendo, '/customusers/get-postlist', '#id_post');
    }

    // テーブルのヘッダ固定用divの高さ設定
    let pdiv = document.querySelector('#result-div');
    if(pdiv) {
        let ht = document.documentElement.clientHeight - 250;
        pdiv.style.height = ht;
    }
</script>

{% endblock %}