                <tr>
                    <th>{{ form.nendo.label_tag }}</th>
                    <td colspan="2">{{ form.nendo }}</td>
                </tr>
                <tr>
                    <th>{{ form.busyo.label_tag }}</th>
                    <td colspan="2">{{ form.busyo }}</td>
                </tr>
                <tr>
                    <th>{{ form.location.label_tag }}</th>
                    <td colspan="2">{{ form.location }}</td>
                </tr>
                <tr>
                    <th>{{ form.post.label_tag }}</th>
                    <td colspan="2">{{ form.post }}</td>
                </tr>
                <tr>
                    <th>{{ form.user_id.label_tag }}</th>
                    <td colspan="2">{{ form.user_id }}</td>
                </tr>
                <tr>
                    <th>氏名:</th>
                    <td>{{ form.last_name }}</td>
                    <td>{{ form.first_name }}</td>
                </tr>
                <tr>
                    <th>{{ form.email.label_tag }}</th>
                    <td colspan="2">{{ form.email }}</td>
                </tr>
                <tr>
                    <th>{{ form.is_staff.label_tag }}</th>
                    <td class="ps-2">{{ form.is_staff }}</td>
                </tr>
