{% load static %}
{% load django_bootstrap5 %}
<html>
<head>
    <meta charset="utf-8">
    <title>ASC 社内汎用アンケートシステム</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'customuser/css/customuser.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-icons-1.10.5/font/bootstrap-icons.css' %}">
    <script src="{% static 'js/common.js' %}"></script>
    {% block extraheader %}{% endblock %}
</head>
<body class="h-100">
    <header class="w-100 d-flex flex-row justify-content-between">
        <div class="fs-5 ps-3"><strong>ASC 社内汎用アンケートシステム</strong></div>
        <div class="text-dark pe-3 pt-1">{{ request.user.last_name }}&nbsp;{{ request.user.first_name }}</div>
    </header>
    <div class="d-flex flex-row" style="height: calc(100% - 30px)">
        <nav class="bg-primary bg-opacity-75" id="sideMenu">
            <ul class="nav flex-column m-0 p-3">
                <li class="nav-item"><a href="/ascsurevey" class="nav-link">ＨＯＭＥ</a></li>
                <li class="nav-item text-light menu_hr"></li>
                <!--スタッフ権限があるユーザの場合-->
                {% if request.user.is_staff %}
                    {% for imenu_dat in imenu %}
                        <li class="nav-item"><a href="{{ imenu_dat.url }}" class="nav-link">{{ imenu_dat.title }}</a></li>
                    {% endfor %}
                    {% if skttl_count > 0 %}
                        <li class="nav-item text-light menu_hr"></li>
                    {% endif %}
                    {% for tmenu_dat in tmenu %}
                        <li class="nav-item"><a href="{{ tmenu_dat.url }}" class="nav-link">{{ tmenu_dat.title }}</a></li>
                    {% endfor %}
                    <li class="nav-item text-white menu_hr"></li>
                    <li class="nav-item"><a href="/sheets/" class="nav-link">シートマスタメンテナンス</a></li>
                    {% for amenu_dat in amenu %}
                        <li class="nav-item"><a href="{{ amenu_dat.url }}" class="nav-link">{{ amenu_dat.title }}</a></li>
                    {% endfor %}
                <!--一般権限のユーザの場合-->
                {% else %}
                    {% for imenu_dat in imenu %}
                        {% if imenu_dat.req_staff == False %}
                            <li class="nav-item"><a href="{{ imenu_dat.url }}" class="nav-link">{{ imenu_dat.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if skgene_count > 0 %}
                        <li class="nav-item text-light menu_hr"></li>
                    {% endif %}
                    {% for tmenu_dat in tmenu %}
                        {% if tmenu_dat.req_staff == False %}
                            <li class="nav-item"><a href="{{ tmenu_dat.url }}" class="nav-link">{{ tmenu_dat.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!--スーパーユーザ権限がある場合-->
                {% if request.user.is_superuser %}
                    <li class="nav-item"><a href="/customusers/" class="nav-link">ユーザーマスタメンテナンス</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="w-100">
            <div class="border shadow-sm d-flex flex-row bg-primary bg-opacity-10 justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div class="navbar-brand toggle-menu">
                        <button class="btn bi bi-justify" id="toggle" style="font-size:1.5em"></button>
                    </div>
                    <div class="fs-5">Dashboard</div>
                </div>
                <div class="my-auto pe-3">
                    <a class="" href="{% url 'logout' %}">ログアウト</a>
                </div>
            </div>
            <main>
                <div class="container">
                    {% block main %}{% endblock %}
                </div>
            </main>
        </div>
    </div>
</body>
<script type="text/javascript">
    menuControl();
</script>
</html>