{% extends "base.html" %}

{% block main %}
    <div>
        <h1 class="display-6">ユーザーマスタメンテナンス</h1>
        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    {% for field in query_form %}
                        <th class="pe-1">{{ field.label }}</th>
                        <td class="pe-3">{{ field }}</td>
                    {% endfor %}
                    <td class="ps-3">
                        <input class="btn btn-primary" type="submit" value="検索">
                    </td>
                </tr>
            </table>
        </form>

        <section class="post-list">
            {% if object_list|length == 0 %}
                <p>検索結果が存在しません。</p>
            {% else %}
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>年度</th>
                        <th>部署名</th>
                        <th>勤務地</th>
                        <th>役職</th>
                        <th>ユーザID</th>
                        <th>氏 名</th>
                        <th>メールアドレス</th>
                        <th>登録者</th>
                        <th>登録日</th>
                        <th>更新者</th>
                        <th>更新日</th>
                    </tr>
                    <tbody>
                    {% for udat in object_list %}
                        <tr>
                            <td>{{ udat.nendo }}</td>
                            <td>{{ udat.busyo_id.bu_name }}</td>
                            <td>{{ udat.location_id.location_name }}</td>
                            <td>{{ udat.post_id.post_name }}</td>
                            <td>{{ udat.user_id }}</td>
                            <td>{{ udat.first_name|add:" "|add:udat.last_name }}</td>
                            <td>{{ udat.email|default_if_none:"" }}</td>
                            <td>{{ udat.created_by|default_if_none:"" }}</td>
                            <td>{{ udat.created_at|default_if_none:""|date:"Y/m/d H:i" }}</td>
                            <td>{{ udat.update_by|default_if_none:"" }}</td>
                            <td>{{ udat.updated_at|default_if_none:""|date:"Y/m/d H:i" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </section>
    </div>

    <script>
        let p = document.querySelector('#id_nendo');

        p.onchange = function() {
            let pnendo = p.selectedOptions[0].value;
            // 部署リスト更新
            renewSelectList(pnendo, '/get-busyolist', '#id_busyo');
            // 勤務地リスト更新
            renewSelectList(pnendo, '/get-locationlist', '#id_location');
            // 役職リスト更新
            renewSelectList(pnendo, '/get-postlist', '#id_post');
        }
    </script>
{% endblock %}