{% extends "base.html" %}

{% block main %}
    <div>
        <h1 class="display-6">ユーザーマスタメンテナンス</h1>
        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    {% for field in query_form %}
                        <th class="pe-1">{{ field.label }}</th>
                        <td class="pe-3">{{ field }}</td>
                    {% endfor %}
                </tr>
            </table>
        </form>
    </div>

    <script>
        let p = document.querySelector('#id_nendo');

        p.onchange = function() {
            let pnendo = p.selectedOptions[0].value;
            // 役職リスト更新
            renewSelectList(pnendo, '/get-postlist', '#id_post');
        }
    </script>
{% endblock %}