{% extends "base.html" %}

{% block main %}
    <div class="card mx-auto mt-5" style="max-width: 50rem;">
        <div class="card-header pb-0">
            <p class="display-6">Information</p>
        </div>
        <div class="card-body">
            {% if informations %}
                <table class="table">
                    {% for info_dat in informations %}
                    <tr>
                        <!--登録日が７日以内はNEW表示-->
                        <td class="text-danger text-end" style="width:100px">
                            {% if info_dat.created_at >= dsp_new_day %}NEW{% endif %}
                        </td>
                        <td style="width:100px">{{ info_dat.created_at|date:"Y/m/d" }}</td>
                        <td>{{ info_dat.info }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}